<% include partials/header %>
<title> Home | College Project</title>


  <div class="row text-center justify-content-center d-flex flex-wrap py-4 ">
    
  
  
  <% posts.slice().reverse().forEach(function(post){ %>


      <div class="col-lg-2 col-md-4 col-sm-6 padding-0 container">

        <a href="/post/<%= post._id %>"><img src="/images/<%= post.images[0] %>" alt="Link to <%=post.name%>'s Interview" class="img-fluid "></a>

          <div class="middle">
            <a href="/post/<%= post._id %>"><div class="text"><%= post.name %> </div></a>
          </div>



      </div>
   <% }) %>
      


  </div>


<% include partials/footer %>









